.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #F2EAE3;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingContianer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 900px;
}

.fullPageContainer {
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.servicesContainer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    /* background-color: #ECE0D5; */
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    margin-top: 30px;
}

.contentDescription {
    flex-direction: column;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    max-width: 800px;
    padding: 6rem 0;
}

.homeButton {
    margin: 5px;
    padding: 10px;
    background-color: unset;
    border: 3px solid black;
    border-radius: 10px;
    min-width: 200px;
    font-weight: 700;
    text-transform:uppercase
}

.homeButton:hover {
    background-color: #ECE0D5;
    cursor: pointer;
}

.serviceContainer {
    display: flex;
    margin-top: 100px;
    max-width: 800px;
    align-items: center;
}

.serviceHeaderEven {
    text-align: end;
    font-size: 2rem;
    font-weight: 600;
}

.serviceHeaderOdd {
    text-align: start;
    font-size: 2rem;
    font-weight: 600;
}

/* .serviceHeader:nth-child(odd) {
    text-align: end;
}

.serviceHeader:nth-child(even) {
    text-align: start;
} */

.serviceContentContainerEven {
    margin-left: 100px;
}

.serviceContentContainerOdd {
    margin-right: 100px;
}

.serviceDescription {
    font-size: 1.2rem;
    text-align: end;
    color: #666666;
}

.serviceDescriptionOdd {
    font-size: 1.2rem;
    text-align: start;
    color: #666666;
}

.header {
    font-weight: 600;
    font-size: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.header:before {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #666666;
    margin: auto;
    margin-right: 30px;
}
.header:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #666666;
    margin: auto;
    margin-left: 30px;
}

.footer {
    width: 100vw;
    background-color: #ECE0D5;
    padding-top: 3rem;
}